body {

    /* font-family: 'Montserrat', sans-serif; */
    margin: 0;
    padding: 0;
    /* display: flex; */
    min-height: 100vh;
    /* flex-direction:column; */
    /* justify-content: flex-end;
    align-items: center; */
}

a {
    text-decoration: none;
}

h1,
p {
    font-family: 'Foldit', sans-serif;
    text-align: center;
}

.positionButtonAdd {
    margin-top: auto;
    text-align: center;
}



/* .buttonAdd {
    width: 1.7em;
    height: 1.7em;
    background-color: #1f5bca;
    color: white;
    font-size: 1.7em;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 2em;
} */

.flex-container {
    display: flex;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}

button.botones {
    background-color: white;
    border: none;
}

#objetoTarea {
    overflow: hidden;
    background-image: url("/img/fondo.jpg");
    background-size: cover;
     border: 1px solid #ccc;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}